body {
  background-color: black;
}
main {
  text-align: center;
}
h1 {
  color: white;
  font-family: Verdana;
}
header h1 {
  font-weight: normal;
  font-size: 50px;
  text-align: center;
}
.download-link a {
  color: aquamarine;
  font-size: 16px;
}
#main-description h1 {
  font-weight: 300;
  font-size: 42px;
}
#main-description p {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}
footer p {
  text-align: right;
  color: gray;
}
